@using Frontend.Models
@inject HttpClient httpClient
@using Microsoft.AspNetCore.Components
@using BusinessLogic.Models
@using Blazored.LocalStorage
@using System.Text
@using System.Text.Json
@using Newtonsoft.Json
@inject ILocalStorageService localstorage
@using Newtonsoft.Json.Linq;
@using JsonException = System.Text.Json.JsonException
@using JsonSerializer = System.Text.Json.JsonSerializer
@page "/talents"

<PageTitle>Talents</PageTitle>
<h1>Talents Page</h1>
<style>
    .button {
        margin-top: 20px;
    }
    label {
        margin-top: 10px;
        color: royalblue;
    }
    InputText{
        border-color: royalblue;    
    }
</style>

<div class="text-center">
    <button class="btn btn-primary custom-btn" @onclick="ShowCreateForm">Add Talent Profile</button>
    <button class="btn btn-primary custom-btn" @onclick="ListAllProfiles">List Talent Profiles</button>
</div>

@if (showCreateForm)
{
    <h4>Add Professionals</h4>
    <EditForm Model="@createProfessionalModel" OnValidSubmit="createProfessional" OnInvalidSubmit="HandleInvalidSubmit">
        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" id="name" @bind-Value="@createProfessionalModel.Name" />
            <ValidationMessage For="@(() => createProfessionalModel.Name)" />
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <InputText class="form-control" id="country" @bind-Value="@createProfessionalModel.Country"/>
            <ValidationMessage For="@(() => createProfessionalModel.Country)"/>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <InputText class="form-control" id="email" @bind-Value="@createProfessionalModel.Email"/>
            <ValidationMessage For="@(() => createProfessionalModel.Email)"/>
        </div>

        <div class="form-group">
            <label for="hourlyRate">Hourly Rate</label>
            <InputNumber class="form-control" id="hourlyRate" @bind-Value="@createProfessionalModel.HourlyRate"/>
            <ValidationMessage For="@(() => createProfessionalModel.HourlyRate)"/>
        </div>

        <div class="form-group">
            <label for="visibility">Visibility</label>
            <InputCheckbox class="form-check-input" id="visibility" @bind-Value="@createProfessionalModel.Visibility"/>
            <ValidationMessage For="@(() => createProfessionalModel.Visibility)"/>
        </div>

        <div class="button">
            <button class="btn btn-primary" type="submit">Create</button>
            <button class="btn btn-danger" @onclick="CancelCreate">Cancel</button>
        </div>
        <div>
            @if (!string.IsNullOrEmpty(createMessage))
            {
                <div class="alert alert-info">@createMessage</div>
            }
        </div>
    </EditForm>

    
}

@if (showSkillList)
{
    <h4>List Profiles</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Email</th>
                <th>Hourly Rate</th>
                <th>Visibility</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var professional in professionals)
            {
                <tr>
                    <td>@professional.ProfessionalID</td>
                    <td>@professional.Name</td>
                    <td>@professional.Country</td>
                    <td>@professional.Email</td>
                    <td>@professional.HourlyRate</td>
                    <td>@(professional.Visibility ? "Publico" : "Privado")</td> 
                    <td>
                        <button class="btn btn-primary" @onclick="() => ShowEditForm(professional)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => ShowDeleteConfirmation(professional.ProfessionalID)">Delete</button>
                        <button class="btn btn-info" @onclick="() => ShowAddSkillForm(professional)">AddSkill</button>
                        <button class="btn btn-info" @onclick="() => ShowAddExperienceForm(professional)">AddExperience</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (showEditForm)
{
    <h4>Edit Profile</h4>

    <EditForm Model="@updateProfessionalModel" OnValidSubmit="EditProfile">
        <div class="form-group">
                <label for="name">Name</label>
                <InputText class="form-control" id="name" @bind-Value="@updateProfessionalModel.Name" />
                <ValidationMessage For="@(() => updateProfessionalModel.Name)" />
            </div>
        
        <div class="form-group">
            <label for="country">Country</label>
            <InputText class="form-control" id="country" @bind-Value="@updateProfessionalModel.Country"/>
            <ValidationMessage For="@(() => updateProfessionalModel.Country)"/>
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <InputText class="form-control" id="email" @bind-Value="@updateProfessionalModel.Email"/>
            <ValidationMessage For="@(() => updateProfessionalModel.Email)"/>
        </div>
        
        <div class="form-group">
            <label for="hourlyRate">Hourly Rate</label>
            <InputNumber class="form-control" id="hourlyRate" @bind-Value="@updateProfessionalModel.HourlyRate"/>
            <ValidationMessage For="@(() => updateProfessionalModel.HourlyRate)"/>
        </div>
        
        <div class="form-group">
            <label for="visibility">Visibility</label>
            <InputCheckbox class="form-check-input" id="visibility" @bind-Value="@updateProfessionalModel.Visibility"/>
            <ValidationMessage For="@(() => updateProfessionalModel.Visibility)"/>
        </div>

        <div class="button">
            <button class="btn btn-primary" type="submit">Update</button>
            <button class="btn btn-danger" @onclick="CancelEdit">Cancel</button>
        </div>

        <div>
            @if (!string.IsNullOrEmpty(editMessage))
            {
                <div class="alert alert-info">@editMessage</div>
            }
        </div>
    </EditForm>
}

@if (showAddSkillForm)
{
    <h4>Add Professional Skill</h4>

    <EditForm Model="@newSkill" OnValidSubmit="SaveSkill">
        <div class="form-group">
            <label for="skill">Skill</label>
            @if (allSkills == null)
            {
                <p>Loading skills...</p>
            }
            else
            {
                <InputSelect class="form-control" id="skill" @bind-Value="@newSkill.SkillID">
                    @foreach (var skill in allSkills)
                    {
                        <option value="@skill.SkillID">@skill.Name</option>
                    }
                </InputSelect>
            }
        </div>

        <div class="form-group">
            <label for="yearsExperience">Years of Experience</label>
            <InputNumber class="form-control" id="yearsExperience" @bind-Value="@newSkill.YearsExperience" />
        </div>

        <button class="btn btn-primary" type="submit">Add Skill</button>
        <button class="btn btn-secondary" @onclick="() => showAddSkillForm = false">Cancel</button>
    </EditForm>
}

@if (showDeleteConfirmation)
{
    <h4>Delete Skill</h4>
    <p>Are you sure you want to delete this skill?</p>
    <button class="btn btn-danger" @onclick="DeleteSkill">Yes, delete it</button>
    <button class="btn btn-secondary" @onclick="ShowList">No, go back</button>
}

@if (showAddExperienceForm)
{
    <h4>Add Experience</h4>

    <EditForm Model="@newExperience" OnValidSubmit="async () => await AddExperience()">
        <div class="form-group">
            <label for="title">Title</label>
            <InputText class="form-control" id="title" @bind-Value="@newExperience.Title" />
        </div>

        <div class="form-group">
            <label for="company">Company</label>
		<InputText class="form-control" id="company" @bind-Value="@newExperience.Company" />
        </div>

        <div class="form-group">
            <label for="startDate">Start Date</label>
            <InputNumber class="form-control" id="startYear" @bind-Value="@newExperience.StartYear" />
        </div>

        <div class="form-group">
            <label for="endDate">End Date</label>
            <InputNumber class="form-control" id="endYear" @bind-Value="@newExperience.EndYear" />
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-secondary" @onclick="() => showAddExperienceForm = false">Cancel</button>
    </EditForm>
}

@code {
    private string editMessage;
    private string Message = "";
    private List<ProfessionalModel> professionals;
    private ProfessionalModel professional = new ProfessionalModel();
    private int editProfessionalId;
    private int deleteProfessionalId;
    private string createMessage;
    bool showCreateForm = false;
    bool showEditForm = false;
    bool showDeleteConfirmation = false;
    private bool showSkillList = false;
    private CreateProfessionalModel createProfessionalModel = new CreateProfessionalModel();
    private UpdateProfessionalModel updateProfessionalModel = new UpdateProfessionalModel();
    private List<SkillModel> allSkills;
    private AddProfessionalSkillModel newSkill = new AddProfessionalSkillModel();
    private AddExperienceModel newExperience = new AddExperienceModel();
    private bool showAddSkillForm = false;
    private bool showAddExperienceForm = false;
    private int _userID;
    
    private async Task ListProfiles()
    {
        professionals = await httpClient.GetFromJsonAsync<List<ProfessionalModel>>("http://localhost:5052/api/Talents");
    }
    
    private async Task ListAllProfiles()
    {
        var response = await httpClient.GetAsync("http://localhost:5052/api/Talents");

        if (response.IsSuccessStatusCode)
        {
            var responseString = await response.Content.ReadAsStringAsync();
            try
            {
                JObject jsonResponse = JObject.Parse(responseString);

                // Obtém a lista de profissionais
                JArray professionalsArray = (JArray)jsonResponse["$values"];

                // Limpa os dados
                professionals = professionalsArray.Select(p => new ProfessionalModel
                {
                    ProfessionalID = (int?)p["professionalid"] ?? 0,
                    UserID = (int?)p["userid"] ?? 0,
                    Name = (string)p["name"] ?? "",
                    Country = (string)p["country"] ?? "",
                    Email = (string)p["email"] ?? "",
                    HourlyRate = (int?)p["hourlyrate"] ?? 0,
                    Visibility = (bool?)p["visibility"] ?? false
                }).ToList();

                showSkillList = true;
                showCreateForm = false;
                showEditForm = false;
                showDeleteConfirmation = false;
            }
            catch (JsonException e)
            {
                Console.WriteLine("Failed to deserialize response: " + e.Message);
                Console.WriteLine("Response was: " + responseString);
            }
        }
        else
        {
            professionals = new List<ProfessionalModel>();
            showSkillList = false;
            showCreateForm = false; 
            showEditForm = false;
            showDeleteConfirmation = false;
        }
    }
    
    private async Task createProfessional()
    {
        // Pega o userID do LocalStorage
        _userID = await localstorage.GetItemAsync<int>("userID");

        // Adiciona o userID ao modelo  
        createProfessionalModel.UserID = _userID;

        var json = JsonSerializer.Serialize(createProfessionalModel);
        var response = await httpClient.PostAsync("http://localhost:5052/api/Talents", new StringContent(json, Encoding.UTF8, "application/json"));
        if (response.IsSuccessStatusCode)
        {
            createMessage = "Talent Profile created with success";
            createProfessionalModel = new CreateProfessionalModel();
            showCreateForm = false;
            await ListProfiles();
        }
        else
        {
            createMessage = "Error creating talent profile";
        }
    }

    private void ShowCreateForm()
    {
        createProfessionalModel = new CreateProfessionalModel();
        showCreateForm = true;
        showEditForm = false;
        showDeleteConfirmation = false;
        showSkillList = false;
    }
    
    private void CancelCreate()
    {
        showCreateForm = false;
        createProfessionalModel = new CreateProfessionalModel();
    }
    
    private void FillModel(ProfessionalModel professional)
    {
        editProfessionalId = professional.ProfessionalID; // Guarda o ID do profissional a ser editado
    
        updateProfessionalModel.Name = professional.Name;
        updateProfessionalModel.Country = professional.Country;
        updateProfessionalModel.Email = professional.Email;
        updateProfessionalModel.HourlyRate = professional.HourlyRate;
        updateProfessionalModel.Visibility = professional.Visibility;

        if (professional.ProfessionalSkills != null)
        {
            updateProfessionalModel.ProfessionalSkills = professional.ProfessionalSkills.Select(ps => new AddProfessionalSkillModel
            {
                ProfessionalID = ps.ProfessionalID,
                SkillID = ps.SkillID,
                YearsExperience = ps.YearsExperience
            }).ToList();
        }

        if (professional.Experiences != null)
        {
            updateProfessionalModel.Experiences = professional.Experiences.Select(e => new AddExperienceModel
            {
                ProfessionalID = e.ProfessionalID,
                Title = e.Title,
                Company = e.Company,
                StartYear = e.StartYear,
                EndYear = e.EndYear
            }).ToList();
        }
    }

    private async Task EditProfile()
    {
        var response = await httpClient.PutAsJsonAsync($"http://localhost:5052/api/Talents/{editProfessionalId}", updateProfessionalModel);
    
        if (response.IsSuccessStatusCode)
        {
            editMessage = "Talent Profile updated successfully";
            professional = new ProfessionalModel();
            showEditForm = false;
            await ListProfiles();
        }
        else
        {
            editMessage = "Error updating profile";
        }
    }

    private void ShowEditForm(ProfessionalModel talentToEdit)
    {
        FillModel(talentToEdit);
        editProfessionalId = talentToEdit.ProfessionalID;
        showCreateForm = false;
        showEditForm = true;
        showDeleteConfirmation = false;
        showSkillList = false;
    }
    

    private async Task AddSkill()
    {
        if (editProfessionalId == 0)
        {
            return;
        }
        if (allSkills == null)
        {
            Console.WriteLine("allSkills is null");
            return;
        }
        if (newSkill == null)
        {
            Console.WriteLine("newSkill is null");
            return;
        }
        Console.WriteLine(allSkills);

        newSkill.ProfessionalID = editProfessionalId;

        var response = await httpClient.PostAsJsonAsync("http://localhost:5052/api/ProfessionalSkills", newSkill);

        if (response.IsSuccessStatusCode)
        {
            newSkill = new AddProfessionalSkillModel();
            await ListProfiles();
        }
        else
        {
        }
    }
    private async Task UpdateSkills()
    {
        Console.WriteLine("Updating skills...");
        var response = await httpClient.GetAsync("http://localhost:5052/api/Skills");
        Console.WriteLine("UpdateSkills() response status code: " + response.StatusCode);

        if (response.IsSuccessStatusCode)
        {
            string responseString = await response.Content.ReadAsStringAsync();
            JsonDocument doc = JsonDocument.Parse(responseString);
            JsonElement root = doc.RootElement;
            JsonElement values;

            if (root.TryGetProperty("$values", out values))
            {
                allSkills = JsonSerializer.Deserialize<List<SkillModel>>(values.GetRawText());
                Console.WriteLine($"Skills count: {allSkills?.Count}");
                foreach (var skill in allSkills)
                {
                    Console.WriteLine($"Skill ID: {skill.SkillID}, Name: '{skill.Name}'");
                }
            }
            else
            {
                Console.WriteLine("Failed to fetch skills: $values property not found in JSON");
            }
        }
        else
        {
            Console.WriteLine($"Failed to fetch skills. Status code: {response.StatusCode}");
        }
    }
    
    private async Task SaveSkill()
    {
        var response = await httpClient.PostAsJsonAsync($"http://localhost:5052/api/Talents/addskill", newSkill);

        if (response.IsSuccessStatusCode)
        {
            newSkill = new AddProfessionalSkillModel();
            showAddSkillForm = false;

            await ListProfiles();
            professional.ProfessionalSkills = await httpClient.GetFromJsonAsync<List<ProfessionalSkillModel>>($"http://localhost:5052/api/Talents/{editProfessionalId}/Skills");
            // mostra as skills que existem
            Console.WriteLine("All Skills Count: " + allSkills.Count);
            foreach (var skill in allSkills)
            {
                Console.WriteLine("Skill: " + skill.Name);
            }
        }
        else
        {
        }
    }
    
    private void ShowAddSkillForm(ProfessionalModel professionalToEdit)
    {
        editProfessionalId = professionalToEdit.ProfessionalID;
        newSkill = new AddProfessionalSkillModel { ProfessionalID = professionalToEdit.ProfessionalID };
        showAddSkillForm = true;
        showSkillList = false;
        UpdateSkills();
    }
    
    private void ShowAddExperienceForm(ProfessionalModel professionalToEdit)
    {
        editProfessionalId = professionalToEdit.ProfessionalID;
        newExperience = new AddExperienceModel { ProfessionalID = professionalToEdit.ProfessionalID };
        showAddExperienceForm = true;
        showSkillList = false;
    }

    private async Task AddExperience()
    {
        var response = await httpClient.PostAsJsonAsync($"http://localhost:5052/api/Talents/addexperience", newExperience);

        if (response.IsSuccessStatusCode)
        {
            showAddExperienceForm = false;
            await ListProfiles();
        }
        else
        {
        }
    }


    private async Task DeleteSkill()
    {
        var response = await httpClient.DeleteAsync($"http://localhost:5052/api/Talents/{deleteProfessionalId}");

        if (response.IsSuccessStatusCode)
        {
            Message = "Talent profile deleted successfully";
            await ListAllProfiles();
            ShowList();
        }
        else
        {
            Message = "Error deleting profile";
        }
    }

    private void ShowDeleteConfirmation(int idToDelete)
    {
        deleteProfessionalId = idToDelete;
        showDeleteConfirmation = true;
        showCreateForm = false;
        showEditForm = false;
        showSkillList = false;
    }

    private void ShowList()
    {
        showDeleteConfirmation = false;
        showCreateForm = false;
        showEditForm = false;
        showSkillList = true;
    }
    
    private void CancelEdit()
    {
        showEditForm = false;
        professional = new ProfessionalModel();
    }
    private void HandleInvalidSubmit(EditContext context)
    {
        Console.WriteLine("Failed to submit form");
    }
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Talents component initialized.");
    
        var responseString = await httpClient.GetStringAsync("http://localhost:5052/api/Skills");
        allSkills = JsonConvert.DeserializeObject<List<SkillModel>>(responseString);
    
        Console.WriteLine("All Skills Count: " + allSkills.Count);
        await ListProfiles();
        await UpdateSkills();
        foreach (var skill in allSkills)
        {
            Console.WriteLine("Skill: " + skill.Name);
        }
    }
}